import TimeAgo from 'react-timeago'
import User from '../User.js'

export default (props) => {
  const data = props.data
  return (
    <section className="hero is-primary mb-6">
      <div className="hero-body">
        <div className="container">
          <div class="columns">
            <div class="column is-one-quarter">
              <User sender={data.sender} key={props.key} />
            </div>
            <div class="column">
              <p>TODO loop over contract elements</p>
              <h1 className="title">{data.text}</h1>
              <h2 className="subtitle">
                <TimeAgo date={data.timestamp * 1000} />
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
